

.parent-container
{
    display: flex;
    height: 100;
}

.side {
    flex: 1;
}

.content{
    flex: 1;
}

.details{
    flex: 1;
}

/*

    To Check
    -Flexbox css
    -Git with vs code

    To push
    -add a message
    -commit the changes (local copy)
    -push to remote

*/