
.parent-container
{
    display: flex;
    height: 100;
}

.side {
    flex: 1;
}

.content{
    flex: 1;
    background-color: aqua;
    padding: 5rem;
}

.details{
    flex: 1;
}

/*

    To push
    -add a message
    -commit the changes (local copy)
    -push to remote

*/
